.input {
  margin-top: 20px;
}

.icon {
  text-align: center;
  margin-top: 20px;
}

.converted {
  margin-top: 20px;

  .panel {
    margin-top: 10px;

    button {
      margin-top: 10px;
    }
  }
}
