.input_form {
  > div:last-child {
    margin-bottom: 0 !important;
  }
}

.input_group {
  display: block !important;
}

.label {
  width: 20px !important;
}

.input_replace_header {
  display: flex;
  justify-content: space-between;
}