.input_form {
  > div:last-child {
    margin-bottom: 0 !important;
  }
}

.input_group {
  display: block !important;
}

.label {
  width: 15px !important;
}

.input_replace_header {
  display: flex;
  justify-content: space-between;
}

.center_text {
  margin-bottom: auto;
  margin-top: 8px;
  text-align: center;
  vertical-align: top;
}